@{
    ViewBag.Title = "Allowed Images";
}

@model ServerlessDemo.Web.Service.ViewModels.ImageListViewModel
<div class="container" style="padding-top: 24px">
    <h1>Allowed images</h1>
    <div class="row">
        <div class="col-sm-12">
            @foreach (var image in Model.Images)
            {
                <a title="@image.Url" asp-action="ImageDetails" asp-route-id="@image.Id" style="align-content: center;">
                    @if (string.IsNullOrWhiteSpace(image.ThumbnailUrl))
                    {
                        <img src="@image.Url" width="200" style="padding-right: 16px; padding-bottom: 16px" />
                    }
                    else
                    {
                        <img src="@image.ThumbnailUrl" width="200" style="padding-right: 16px; padding-bottom: 16px" />
                    }
                    
                </a>
            }
        </div>
    </div>
</div>
@section scripts
    {
    <script type="text/javascript" language="javascript">
        if ("@TempData["Message"]" !== "") {
            alert("@TempData["Message"]");
        }
    </script>
}